<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ehealthinformatics.odoorxcore" >
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <application>
    
    
        <!-- Sync Provider & Service  // -->
        <provider
            android:name="com.ehealthinformatics.odoorxcore.device.providers.CustomersSyncProvider"
            android:authorities="${applicationId}.odoorxcore.core.provider.content.sync.res_partner"
            android:label="@string/sync_label_customers"
            android:multiprocess="true" />
    
        <service
            android:name="com.ehealthinformatics.odoorxcore.device.services.CustomerSyncService"
            android:exported="true"
            android:process=":sync_customer">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
    
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/customer_sync_adapter" />
        </service>

    
    
    
        <!-- Product Sync Provider & Service  // -->
        <provider
            android:name="com.ehealthinformatics.odoorxcore.device.providers.ProductsSyncProvider"
            android:authorities="${applicationId}.odoorxcore.core.provider.content.sync.product_product"
            android:label="@string/sync_label_products"
            android:multiprocess="true" />
    
        <service
            android:name="com.ehealthinformatics.odoorxcore.device.services.ProductSyncService"
            android:exported="true"
            android:process=":sync_product">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
    
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/product_sync_adapter" />
        </service>

    
    
        <!-- Product Image Sync Provider & Service  // -->
        <provider
            android:name="com.ehealthinformatics.odoorxcore.device.providers.ProductImagesSyncProvider"
            android:authorities="${applicationId}.odoorxcore.core.provider.content.sync.product_image"
            android:label="@string/sync_label_product_images"
            android:multiprocess="true" />
    
        <service
            android:name="com.ehealthinformatics.odoorxcore.device.services.ProductImageSyncService"
            android:exported="true"
            android:process=":sync_product_image">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
    
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/product_image_sync_adapter" />
        </service>

    
        <!-- PurchaseList Sync Provider & Service  // -->
        <provider
            android:name="com.ehealthinformatics.odoorxcore.device.providers.PurchaseSyncProvider"
            android:authorities="${applicationId}.odoorxcore.core.provider.content.sync.purchase_order"
            android:label="@string/sync_label_purchases"
            android:multiprocess="true" />
    
        <service
            android:name="com.ehealthinformatics.odoorxcore.device.services.PurchaseSyncService"
            android:exported="true"
            android:process=":sync_purchase">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
    
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/purchase_sync_adapter" />
        </service>
    
        <!-- PosOrderList Sync Provider & Service  // -->
        <provider
            android:name="com.ehealthinformatics.odoorxcore.device.providers.PosOrderSyncProvider"
            android:authorities="${applicationId}.odoorxcore.core.provider.content.sync.pos_order"
            android:label="@string/sync_label_pos_order"
            android:multiprocess="true" />
    
        <service
            android:name="com.ehealthinformatics.odoorxcore.device.services.PosOrderSyncService"
            android:exported="true"
            android:process=":sync_point_of_sale">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
    
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/pos_sync_adapter" />
        </service>
    
        <!-- PosOrderLine Sync Provider & Service  // -->
        <provider
            android:name="com.ehealthinformatics.odoorxcore.device.providers.PosOrderLineSyncProvider"
            android:authorities="${applicationId}.odoorxcore.core.provider.content.sync.pos_order_line"
            android:label="@string/sync_label_pos_order_line"
            android:multiprocess="true" />
    
        <service
            android:name="com.ehealthinformatics.odoorxcore.device.services.PosOrderLineSyncService"
            android:exported="true"
            android:process=":sync_pos_order_line">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
    
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/pos_order_line_sync_adapter" />
        </service>
    
        <!-- PosConfigLine Sync Provider & Service  // -->
        <provider
            android:name="com.ehealthinformatics.odoorxcore.device.providers.PosConfigSyncProvider"
            android:authorities="${applicationId}.odoorxcore.core.provider.content.sync.pos_config"
            android:label="@string/sync_label_pos_config"
            android:multiprocess="true" />
    
        <service
            android:name="com.ehealthinformatics.odoorxcore.device.services.PosConfigSyncService"
            android:exported="true"
            android:process=":sync_pos_config">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
    
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/pos_config_sync_adapter" />
        </service>
    </application>
</manifest>
